.offer-cards {
  /* height: 320px; */
  width: 224px;
  border: 2px solid rgb(246 39 73);
  border-radius: 5px;

  /* justify-content: center; */
  align-items: center;
}

.offer {
  background-color: rgb(245 33 68);
}

.offer-img {
  border-radius: 4px 4px 0 0;
}
