.login-form {
  display: flex;
  justify-content: center;
}

.form-wrap {
  height: 300px;
  width: 450px;
  background: linear-gradient(rgb(246 245 242 / 47%), rgb(236 236 236 / 38.8%));
  display: flex;
  flex-direction: column;

  /* justify-items: center; */
  align-items: center;
  padding: 20px;
  margin-top: 150px;
}

.input {
  margin: 10px;
  border: none;
  border-radius: 7px;
  padding: 5px;
  font-weight: lighter;
  background: linear-gradient(rgb(70 70 70 / 57.8%), rgb(75 75 75 / 28.1%));
  color: white;
  outline: none;
}

.input::placeholder {
  color: white;
  font-size: small;
}

.login-button {
  width: 220px;
  border: 1px solid rgb(240 16 83);
  border-radius: 7px;
  font-weight: lighter;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(250 78 92);
  color: white;
}

.account {
  color: white;
  margin-top: 10px;
}

.forgot-password {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: small;
}

.info {
  color: white;
}

.information {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
}
