<div class="departure ps-4">
    <div class="start-time">
        <p>Departure From Chennai</p>
        <div class="departure-filter d-flex">
            <button class="time-filter"><img src="/assets/images/sunrise.svg" >Before 6AM</button>
            <button class="time-filter"><img src="/assets/images/sun.svg" >6AM-6PM</button>
            <button class="time-filter"><img src="/assets/images/moon.svg" >After 6PM</button>
        </div>
    </div>
    <hr>
    <div class="arrival-time">
        <p>Arrival At Bengaluru</p>
        <div class="arrival-filter d-flex">
            <button class="time-filter"><img src="/assets/images/sunrise.svg" >Before 6AM</button>
            <button class="time-filter"><img src="/assets/images/sun.svg" >6AM-6PM</button>
            <button class="time-filter"><img src="/assets/images/moon.svg" >After 6PM</button>
        </div>
    </div>
    <hr>
</div>