<div class="flight">
    <div class="flight-name d-flex">
        <img src="/assets/images/indigo.jpg " width="40px" height="40px">
        <div class="fligt-model">
            <p>Indigo</p>
            <p>6E-927</p>
        </div>
        <div class="departure-time">
            <h5>12:25</h5>
            <p>Chennai</p>
        </div>
        <div class="time">
            <p>01h 00m</p>
            <img src="/assets/images/Screenshot.png">
            <p>Non-Stop</p>
        </div>
        <div class="arrive-time">
            <h5>13:25</h5>
            <p>Coimbatore</p>
        </div>
        <div class="price">
            <h5>4,399</h5>
            <button class="price">+ More Fare</button>
            <p>Get 200 Off with BOOKING NOW</p>
        </div>
        <div class="book-now-button">
            <button>BOOK NOW</button>
        </div>
    </div>
</div>