<div class="navar d-flex pt-1 ps-2 pb-2">

  <img src="/assets/images/airbnb-icon.png" height="65px" />
  <div class="fligts ps-5 pt-2">
    <img
      class="flight-btn "
      src="/assets/images/flight-button.png"
      height="40px"
    />
    <p class="font">FLIGHTS</p>
  </div>
  <div class="trains ps-3 pt-2">
    <img
      class="train-btn"
      src="/assets/images/train-button.png"
      height="40px"
    />
    <p class="font">TRAINS</p>
  </div>
  <div class="login-btn">
    <button type="button" class="login-btn btn btn-danger">Login</button>
  </div>

</div>