<div class="stops ps-4 rounded-1">
    <p class="ms-3">Stops</p>
    <div class="stop-wrap d-flex">
        <button class="stop-button m-1 p-1 rounded-1 bg-danger text-light"> 0 Stop</button>
        <button class="stop-button m-1 p-1 rounded-1 bg-danger text-light"> 1 Stop</button>
        <button class="stop-button m-1 rounded-1 bg-danger text-light"> 2+ Stops</button>
    </div>
    <hr>
</div>